@import url(/assets/styles/server.min.css);

/* acutal search box */
#gsc-i-id1 {
    color: white;
    font-size: var(--font-size-normal-evident-minor);
}

/* search box background color */
#gsc-i-id1, #gs_tti50, #gs_id50, #gsc-iw-id1 {
    background-color: var(--flush-input);
}

#gs_tti50, #gs_id50, #gsc-iw-id1 {
    border-radius: var(--border-radius-general);
}

#gs_id50 {
    height: var(--input-regular-height);
}

/* clear button */
#gs_cb50 {
    color: white;
}