@import url(/assets/styles/server.min.css);

body {
    padding: 0px;
    margin: none;
    background-color: var(--main-bg); 
    overflow-y: hidden;
}

#seperator {
    margin: var(--margin-major) auto var(--margin-major) auto;
    width: 75%;
    display: block;
    height: var(--border-major-seperator);
    background-color: var(--seperator);
    border-radius: var(--border-radius-general);
}

#main-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    max-width: var(--max-width-minor);
}

#urls-section {
    display: flex;
    width: 100%;
    margin-bottom: var(--margin-semi-major);
}

.urls {
    flex: 1;
    text-align: center;
    font-size: var(--font-size-normal-evident-minor);
}

#credits {
    display: flex;
}

.credit {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    padding: var(--margin-semi-major);
}

.credit img {
    width: var(--icon-featured);
    height: var(--icon-featured);
    margin-bottom: var(--margin-semi-minor);
}

.credit .name {
    margin-bottom: var(--margin-minor);
}

.credit .purpose {
    font-size: var(--font-size-normal-evident-minor);
    color: var(--seperator);
}

.bottom-text {
    margin-top: var(--margin-minor);
    font-size: var(--font-size-normal-evident-minor);
    color: var(--seperator);
}