:root {
    /* Colors */
    --main-bg: #262626;
    
    --flush-button: #323232;
    --flush-button-hover: #353535;
    --flush-input: #131313;
    
    --evident-selection: #006431;
    
    /* Sizes / distances */
    --nav-bar-height: 40px;
    --max-width: 600px;
    
    --margin-minor: 5px;
    --margin-semi-minor: 10px;
    --margin-semi-major: 20px;
    
    --icon-semi-minor: 30px;
    --icon-minor: 20px;
    
    --input-regular-height: 32px;
    
    --border-seperator: 1px;
    --border-major-seperator: 2px;
    --border-evident-seperator: 4px;
    
    --font-size-normal: 12px;
    --font-size-normal-evident: 16px;
}