:root {
    /* Colors */
    --main-bg: #262626;

    --flush-button: #323232;
    --flush-content: #323232;
    --flush-button-hover: #353535;
    --flush-input: #131313;

    --evident-selection: #006431;

    --main-btn-text-shadow: #004e26;
    --main-btn-padding: 11px;
    --main-btn-grad-top: #009147;
    --main-btn-grad-bottom: #008542;
    --main-btn-top: #27ce40;
    --main-btn-right: #0c6e3d;
    --main-btn-bottom: #064d2a;
    --main-btn-left: #0c6e3d;
    --main-btn-border: 0px -3px 0px 0px var(--main-btn-top),
        3px 0px 0px 0px var(--main-btn-right),
        0px 3px 0px 0px var(--main-btn-bottom),
        -3px 0px 0px 0px var(--main-btn-left),

        0px -3px 0px 2px black,
        3px 0px 0px 2px black,
        0px 3px 0px 2px black,
        -3px 0px 0px 2px black;

    --main-btn-top-hover: #0a9a50;
    --main-btn-bottom-hover: #0a8f4c;
    --main-btn-border-hover:
        0px -3px 0px 0px var(--main-btn-bottom),
        3px 0px 0px 0px var(--main-btn-right),
        0px 3px 0px 0px var(--main-btn-top),
        -3px 0px 0px 0px var(--main-btn-left),

        0px -3px 0px 3px white,
        3px 0px 0px 3px white,
        0px 3px 0px 3px white,
        -3px 0px 0px 3px white;
    
    --shadow-color-evident: rgba(0, 0, 0, 0.8);
    
    --seperator: #5c5c5c;

    /* Sizes / distances */
    --nav-bar-height: 40px;
    --max-width: 600px;

    --margin-minor: 5px;
    --margin-semi-minor: 10px;
    --margin-semi-major: 20px;
    --margin-major: 40px;

    --icon-semi-minor: 30px;
    --icon-minor: 20px;

    --input-regular-height: 32px;

    --border-seperator: 1px;
    --border-major-seperator: 2px;
    --border-evident-seperator: 4px;

    --font-size-normal: 12px;
    --font-size-normal-evident: 16px;
    --font-size-attention: 18px;
    --font-size-heading: 32px;

    --border-radius-general: 4px;

    --shadow-depth-general: 6px;
    --shadow-depth-attention: 4px;
    --shadow-depth-text: 2px;
    
    --btn-width-attention: 160px;

    /* Time */
    --transition-duration-general: 0.2s;

    /* Complex modular CSS */

}
