#nav-bar {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    height: var(--nav-bar-height);
    transition-duration: var(--transition-duration-general);
}

#nav-bar.expanded {
    height: 100%;
}

/* 40 + 2 + 40 + 263 + 20*/

#footer {
    width: 100%;
    height: 365px;
}