@font-face {
    font-family: "MinecraftTen";
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/MinecraftTen.ttf) format('woff2');
}

@font-face {
    font-family: "MinecraftFive-Bold";
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/MinecraftFive-Bold.ttf) format('woff2');
}

@font-face {
    font-family: "MinecraftFive-Regular";
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/MinecraftFive-Regular.ttf) format('woff2');
}