@font-face {
    font-family: "Minecraft";
    src: url(/assets/fonts/Minecraft.ttf);
}

@font-face {
    font-family: "MinecraftFive-Bold";
    src: url(/assets/fonts/MinecraftFive-Bold.ttf);
}

@font-face {
    font-family: "MinecraftFive-Regular";
    src: url(/assets/fonts/MinecraftFive-Regular.ttf);
}

@font-face {
    font-family: "MinecraftSeven";
    src: url(/assets/fonts/MinecraftSeven.ttf);
}

@font-face {
    font-family: "MinecraftTen";
    src: url(/assets/fonts/MinecraftTen.ttf);
}

@font-face {
    font-family: "NotoSans-Bold";
    src: url(/assets/fonts/NotoSans-Bold.ttf);
}

@font-face {
    font-family: "NotoSans-BoldItalic";
    src: url(/assets/fonts/NotoSans-BoldItalic.ttf);
}

@font-face {
    font-family: "NotoSans-Italic";
    src: url(/assets/fonts/NotoSans-Italic.ttf);
}

@font-face {
    font-family: "NotoSans-Regular";
    src: url(/assets/fonts/NotoSans-Regular.ttf);
}

@font-face {
    font-family: "WINGDNG3";
    src: url(/assets/fonts/WINGDNG3.ttf);
}

@font-face {
    font-family: "X360";
    src: url(/assets/fonts/X360.ttf);
}