@font-face {
    font-family: "MinecraftTen";
    src: url(/assets/fonts/MinecraftTen.ttf);
}

@font-face {
    font-family: "MinecraftFive-Bold";
    src: url(/assets/fonts/MinecraftFive-Bold.ttf);
}

@font-face {
    font-family: "MinecraftFive-Regular";
    src: url(/assets/fonts/MinecraftFive-Regular.ttf);
}
