button.generic.center {
    margin: 10px auto 10px auto;
}

button.center {
    display: block;
    margin: auto;
}

input[type="text"], input[type="search"] {
    border: none;
    border-radius: var(--border-evident-seperator);
    padding: 0px;
}

input.generic {
    background-color: #131313;
    text-align: center;
    padding: var(--margin-minor);
    height: var(--input-regular-height);
}

input.generic:focus,
input.generic:focus-within {
    border: 1px solid white;
}

input.full-width {
    width: 100%;
}

button:not(.disabled),
details.hidden-ans {
    cursor: pointer;
}

button.generic {
    transition-duration: var(--transition-duration-general);
    font-family: "MinecraftTen";
    text-shadow: 0px var(--shadow-depth-text) 0px var(--main-btn-text-shadow);
    padding: var(--main-btn-padding);
    font-size: var(--font-size-attention);
    background: linear-gradient(var(--main-btn-grad-top), var(--main-btn-grad-bottom));
    border: none;
    color: white;
    margin: 5px;

    box-shadow: var(--main-btn-border);
}

button.generic:not(.disabled):hover {
    background: linear-gradient(var(--main-btn-top-hover), var(--main-btn-bottom-hover));
}

button.generic:not(.disabled):active {
    box-shadow: var(--main-btn-border-hover);
    background: linear-gradient(var(--main-btn-grad-bottom), var(--main-btn-grad-top));
}

button.formal {
    transition-duration: var(--transition-duration-general);
    background: none;
    border: 1px solid var(--seperator);
    padding: var(--margin-minor);
    font-size: var(--font-size-general);
    font-weight: bold;
    box-sizing: border-box;
}

details.hidden-ans {
    transition-duration: var(--transition-duration-general);
    background: none;
    border: 1px solid var(--flush-button-border);
    padding: 0px var(--margin-major) 0px var(--margin-major);
    font-size: var(--font-size-general);
    text-align: left;
    cursor: default;
}

details.hidden-ans summary {
    text-align: center;
}

details.hidden-ans summary {
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    padding: var(--margin-minor);
}

details.hidden-ans[open] {
    padding: 0px var(--margin-major) var(--margin-semi-minor) var(--margin-major);
}

details.hidden-ans[open] summary {
    margin-bottom: var(--margin-major);
}

details.hidden-ans[open] summary:hover {
    background-color: var(--flush-button-hover);
}

button.formal:hover,
details.hidden-ans:not([open]):hover {
    background-color: var(--flush-button-hover);
}

button.full-width {
    width: 100%;
}

button.generic.right-button,
button.generic.left-button {
    padding: var(--margin-minor);
}

button.generic.disabled {
    filter: brightness(0.2);
}

button.generic.right-button img,
button.generic.left-button img {
    width: var(--icon-minor);
    box-shadow: none;
}

details.links-holder > summary {
    font-family: "MinecraftTen";
    text-shadow: 0px var(--shadow-depth-attention) 0px var(--shadow-color-evident);
    margin: 0px;
    font-size: var(--font-size-h4);
}

details.links-holder > summary {
    list-style-type: none;
}

details.links-holder > summary,
details.links-holder > summary::before {
    cursor: pointer;
    user-select: none;
}

details.links-holder > summary::before {
    content: "";
    margin-right: var(--margin-minor);
    display: inline-block;
    width: var(--icon-minor);
    height: var(--icon-minor);
    background-image: url(/assets/images/icons/blunt-arrow-down.svg);
    background-size: var(--icon-minor);
    background-repeat: no-repeat;
    background-position: center;
}

details.links-holder > summary::before {
    transition-duration: var(--transition-duration-general);
    transform: rotate(-90deg);
}

details.links-holder[open] > summary::before {
    transform: rotate(0deg);
}
