div.loader-generic {
    background-image: url(/assets/images/icons/loading_launcher.gif);
    background-size: contain;
    width: 28px;
    height: 28px;
}

video.loader-generic-new {
    width: 28px;
    height: 28px;
}