a {
    text-decoration: none;
    font-weight: bold;
}

* {
    font-family: "Noto Sans";
    word-wrap: break-word;
}

p.shadowed {
    text-shadow: 0px var(--shadow-depth-text) 0px var(--shadow-color-evident);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "MinecraftTen";
    text-shadow: 0px var(--shadow-depth-attention) 0px var(--shadow-color-evident);
    margin: 0px;
}

h1.center,
h2.center,
h3.center,
h4.center,
h5.center,
h6.center {
    text-align: center;
}

h1.subtle,
h2.subtle,
h3.subtle,
h4.subtle,
h5.subtle,
h6.subtle {
    font-family: "MinecraftFive-Bold";
    text-align: center;
}

h1.subtler,
h2.subtler,
h3.subtler,
h4.subtler,
h5.subtler,
h6.subtler {
    font-family: "MinecraftFive-Regular";
    text-align: center;
}

h1.no-margin,
h2.no-margin,
h3.no-margin,
h4.no-margin,
h5.no-margin,
h6.no-margin,
p.no-margin {
    margin: 0px;
}

p.margin-minor {
    margin: var(--margin-minor);
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}

h5 {
    font-size: var(--font-size-h5);
}

h6 {
    font-size: var(--font-size-h6);
}

code {
    background-color: var(--flush-button-hover);
    border-radius: var(--border-radius-general);
    font-family: courier, monospace;
    padding: 0 3px;
}