@import url("/assets/styles/server.css");

body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#nav-bar-main-header {
    background: var(--main-bg);
    display: flex;
    align-content: center;
    justify-content: center;
}

#nav-bar-width {
    width: 100%;
    height: var(--nav-bar-height);
    display: flex;
    flex-direction: row;
    max-width: var(--max-width);
}

#nav-bar-left-align {
    float: left;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-items: center;
    align-items: center;
}

#center-links {
    margin: auto;
    display: block;
    width: 100px;
    height: 100%;
}

#logo-link {
    margin: 0px;
    display: flex;
    justify-items: center;
    align-items: center;
}

#logo-link-image {
    width: 24px;
    height: 24px;
}

#logo-text {
    color: white;
    opacity: 0;
    padding: 0px;
    font-size: 0px;
    transform: translateX(-40px);
}

#search-button {
    height: var(--icon-minor);
    width: var(--icon-minor);
    margin: 0px;
    padding: var(--margin-minor);
}

#search-box {
    background-color: var(--flush-input);
    display: none;
    width: 0px;
    padding: 0px;
    height: var(--input-regular-height);
    margin-left: 0px;
    color: white;
}

#nav-bar-right-align {
    width: var(--margin-minor);
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
}

.clickable-main-link-icon {
    height: var(--icon-minor);
    width: var(--icon-minor);
}

.main-link-selected .clickable-main-link-icon {
    transform: translateY(calc(var(--border-evident-seperator) / 2));
}

.main-link-selected {
    border-bottom: var(--border-evident-seperator) var(--evident-selection) solid;
}

.clickable-main-link-text,
.clickable-main-link:focus-within > .clickable-main-link-text {
    font-size: 0px;
    color: white;
    opacity: 0;
    transform: translateX(calc(--margin-semi-major) * -1) translateY(var(--border-major-seperator));
    margin-left: 0px;
}

.clickable-main-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: var(--nav-bar-height);
    box-sizing: border-box;
}

.clickable-main-link:hover {
    background-color: var(--flush-button-hover);
}

.clickable-main-link:focus-within {
    background: none;
}

/* Space for all icons available */
@media (max-width: 199px) {
    .clickable-main-link {
        display: none;
    }
}

.clickable-main-link img {
    box-shadow: none;
}

@media (min-width: 600px) {
    .clickable-main-link:hover > .clickable-main-link-text {
        font-size: var(--font-size-semi-normal);
        font-family: "Minecraft";
        opacity: 1;
        transform: translateX(0px);
        margin-left: var(--margin-minor);
    }

    #nav-bar-left-align:hover > #logo-text {
        font-size: var(--font-size-semi-normal);
        transform: translateX(0px);
        opacity: 1;
        padding: var(--margin-minor) var(--margin-semi-minor) var(--margin-minor) var(--margin-minor);
    }

    .clickable-main-link.main-link-selected:hover > .clickable-main-link-text {
        transform: translateX(0px) translateY(var(--border-major-seperator));
    }
}
