* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  scrollbar-color: #474747 #292929;
}

::-webkit-scrollbar {
  background: #292929;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #474747;
}

::-webkit-scrollbar-thumb:hover {
  background: #505050;
}

::-webkit-scrollbar-thumb:active {
  background: #838383;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  background-color: #262626;
}

#root {
  display: flex;
  flex-direction: column;
}

.pagination {
  display: flex;
  flex-direction: row;
  place-content: center;
  gap: 0 2.2rem;
  margin-bottom: 1.2rem;
}

.pagination .button-text {
  width: 38px;
  max-width: 38px;
  height: 38px;
  max-height: 38px;
}

.pagination .pages-numbers {
  display: flex;
  flex-direction: row;
  place-content: center;
  gap: 0 0.8rem;
  width: max-content;
}
